@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Questrial&family=Rock+Salt&family=Russo+One&display=swap');

.contact-container {
    padding-bottom: 3em;
}

* {
    font-family: 'Questrial', sans-serif;
}

.navbar a {
    text-decoration: none;
}

.navbar-menu Link {
    font-size: 2em;
}

.about-content {
   
}

.logo-text {
    font-family: 'Russo One', sans-serif;
    font-size: 2.5em;
    color: black;
}

.logo-text:hover {
    opacity: .65;
}

.footer a {
    text-decoration: none;
}
.navbar-end Link {
    text-decoration: none;
}

.breadcrumb-container {
    justify-content: center;
    padding-top: 25px;
}

.welcome-text {
    font-size: 3em;
    font-family:  'Alfa Slab One', cursive;
}

.about-image img {
    justify-content: center;
}
.about-image a {
    text-decoration: none;
}

.call-to-action {
    background-color: white;
}

.about-main-image a {
    text-decoration: none;
}

.is-active {
    color: primary;
}

.skill-card {
    padding-bottom: 3em;
}

.nav-link {
    color: green;
}

.nav-item>a:hover {
    color: green;
}

.image-self {
    height: 200px;
    padding-bottom: 10px;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    justify-content: center;
}

.contact-container {
    max-width: 400px;
    
  padding: 20px;
}

.contact-form {
    background-color: ivory;
    border-radius: 25px;
}



.card-container {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 0.5em;
    
}



.card{
	height: max-content;
}

.projects-top {
    padding-bottom: 3em;
}

.project-container button {
    float: right;
}

.project-container-one {
    padding-bottom: 3em;
    
}

.project-container-one img{
    padding-top: 3em;
}