

.contact-container {
    padding-bottom: 3em;
}

.navbar a {
    text-decoration: none;
}
.footer a {
    text-decoration: none;
}
.navbar-end Link {
    text-decoration: none;
}

.breadcrumb-container {
    justify-content: center;
    padding-top: 25px;
}

.welcome-text {
    font-size: 3em;
}

.about-image img {
    justify-content: center;
}
.about-image a {
    text-decoration: none;
}

.about-main-image a {
    text-decoration: none;
}

.is-active {
    color: primary;
}

.skill-card {
    padding-bottom: 3em;
}

.skills-container {
    background-color: rgb(244, 244, 244);
}

.card-container {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 0.5em;
    
}

.card{
	height: max-content;
}

.projects-top {
    padding-bottom: 3em;
}

.project-container button {
    float: right;
}

.project-container-one {
    padding-bottom: 3em;
    
}

.project-container-one img{
    padding-top: 3em;
}